body {
    margin: 0px;
}
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.logo {
    width: 82px;
    padding-right: 80px;
}

.left-side {
    display: flex;
}

.right-side {
    display: flex;
}

.navbar-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: 1.6em;
}

.navbar-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 1.6em;
}

.nav-link-wrapper {
    height: 22px;
    padding-top: 21px;
    padding-right: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    color: white;
}

.nav-link-wrapper a{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper a:hover {
    border-bottom: 1px solid white;
    color: white;
}

.nav-link-wrapper input[type=text]{
    border: none;
    font-size: 17px;
}

.search-wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
}

.search-box {
    width: 250px;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px;
    top: 0;
    left: 0;
    z-index: 5;
}

.search-button {
    width: 32px;
    top: 3px;
    left: 5px;
    height: 30px;
    z-index: 10;
    border: none;
    border-radius: 10px;
    text-align: center;
}