.App {
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  transition: background 500ms ease-in-out;
  background-image: url('../public/galaxy.jpg');
}